body {
  font-family: Arial, sans-serif;
}

#container {
  border: 1px solid black;
  padding: 10px;
}

p {
  margin: 0;
}

button {
  background-color: hsl(122, 39%, 50%);
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

button:hover {
  background-color: hsl(122, 39%, 40%);
}

#para1,
#para2 {
  border: 1px solid blue;
  padding: 10px;
}

#btn1,
#btn2 {
  border: 1px solid blue;
  padding: 10px;
}

.highlight {
  background-color: lightskyblue;
}

dialog div {
  width: 50vw;
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.deleteButton {
  background-color: hsl(0, 39%, 50%);
}

.deleteButton:hover {
  background-color: hsl(0, 39%, 40%);
}
