body {
	font-family: Arial, sans-serif;
}

#container {
	border: 1px solid black;
	padding: 10px;
}

p {
	margin: 0;
}

button {
	background-color: #4CAF50;
	color: white;
	padding: 10px;
	border: none;
	cursor: pointer;
	margin-right: 10px;
}

button:hover {
	background-color: #3e8e41;
}

#para1,#para2 {
	border: 1px solid blue;
	padding: 10px;
}

#btn1,#btn2 {
	border: 1px solid blue;
	padding: 10px;
}
